<% include ../partials/header %>

<div class="row mt-2" style="">
    <div class="col-md-2"></div>
    <div class="col-md-8">
            <form method="POST" action="http://localhost:4000/event/edit/<%= item[0].e_id %>">
                <div class="form-group">
                    <!-- <label>Name</label> -->
                    <input type="text" class="form-control" name="e_name" value="<%= item[0].e_name %>" placeholder="Event Name Here">
                    <input type="hidden" class="form-control" name="e_id" value="<%= item[0].e_id %>">
                </div>
                <div class="form-group">
                    <!-- <label>Name</label> -->
                    <textarea  class="form-control" name="e_desc" placeholder="Describe Here"><%= item[0].e_desc %></textarea>
                </div>
                <div class="form-group">
                        <label>Start Date</label>
                        <input type="text" name="e_start_date" value="<%= item[0].e_start_date %>" id="datepicker1" class="form-control" >

                </div>
                <div class="form-group">
                    <label>End Date</label>
                    <input type="text" name="e_end_date" value="<%= item[0].e_end_date %>" id="datepicker2" class="form-control" >
                </div>

                <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-success" >
                </div>
                
            </form>
    </div>
    
</div>

<script>
        $( function() {
            $( "#datepicker1" ).datepicker({
              changeMonth: true,
              changeYear: true
            });
          } );
          $( function() {
            $( "#datepicker2" ).datepicker({
              changeMonth: true,
              changeYear: true
            });
          } );          
</script>
<% include ../partials/footer %>